<div>
  <h2>Add Address</h2>
  <form [formGroup]="addressForm" (ngSubmit)="formSubmitHandler()">
    <div class="field">
      <label for="country">Country:</label>
      <input type="text" id="country" formControlName="country">
      <div class="error" *ngIf="country?.invalid && (country?.dirty || country?.touched)">
        <span *ngIf="country?.errors?.required">Country is required</span>
      </div>
    </div>
    <div class="field">
      <label for="city">City:</label>
      <input type="text" id="city" formControlName="city">
      <div class="error" *ngIf="city?.invalid && (city?.dirty || city?.touched)">
        <span *ngIf="city?.errors?.required">City is required</span>
      </div>
    </div>
    <div class="field">
      <label for="street">Street:</label>
      <input type="text" id="street" formControlName="street">
      <div class="error" *ngIf="street?.invalid && (street?.dirty || street?.touched)">
        <span *ngIf="street?.errors?.required">Street is required</span>
      </div>
    </div>
    <div class="field">
      <label for="zip">Zip Code:</label>
      <input type="text" id="zip" formControlName="zip">
      <div class="error" *ngIf="zip?.invalid && (zip?.dirty || zip?.touched)">
        <span *ngIf="zip?.errors?.required">Zip is required</span>
        <span *ngIf="zip?.errors?.pattern">Zip should be at least 4 digits</span>
      </div>
    </div>
    <div class="buttons">
      <button type="submit" [disabled]="addressForm.invalid"
        [title]="addressForm.invalid ? 'Resolve all errors above in order to create new address' : undefined">
        Save
      </button>
      <button type="button" (click)="navigateToAddressList()">
        Cancel
      </button>
    </div>
  </form>
</div>