.form {
  width: 500px;
  border: solid 1px gray;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;

  .title {
    font-size: 24px;
    font-weight: bold;
    padding: 16px;
  }

  .action-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 16px;
  }

  .form-field {
    label {
      margin-right: 8px;
    }

    .error {
      color: red;
      font-size: 12px;
    }
  }
}